*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#root{
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-size: inherit;
  background-repeat: no-repeat;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todoContainer{
  margin: 0 auto;
  padding: 20px 0;
}
